@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container{
    width: 80%;
    margin: 0 auto;
}
body{
    margin: 0;
    background: white;
    font-weight: 400;
    font-family: Helvetica,sans-serif;
    line-height: 1.67;
}   
header {
    background-color: #444f57; 
}
header::after {
    content: '';
    display: table;
    clear:both;
}
h1 {
    font-size:40px;
    letter-spacing: -2px;
    padding-left: 150px;
    font-family: 'Monserrat','poppins';
    font-weight: 700;
    color: whitesmoke;
    margin:0;
    text-transform: uppercase;
    float: left;
}
nav{
    font-family: 'poppins';
    font-weight: 200;
    font-size: 20px;
    float:right;
}  
nav ul {
    margin: 0;  
    list-style: none;
} 
nav li {
    margin-left: 200px;
    display: inline-block;
    padding-top:25px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}

nav a::before {
    content:'';
    display:block;
    height: 5px;
    width: 100%;
    background-color: whitesmoke;

    position: absolute;
    top:0;
    width:0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width:100%
}

p { 
    padding-left: 150px;
    display: block;  
    font-size: 16px;
    color: rgb(29, 28, 28);
}
h2 {
    padding-left: 150px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: rgb(17, 17, 17);
}
h2:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
a {
    color: rgb(85, 177, 235);
}
a:hover{
    color: rgb(85, 177, 235);
    text-decoration: none;
}
a:visited { 
    color: rgb(85, 177, 235);
    text-decoration: none; 
}
