@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main-header{
    cursor: default;
    color: whitesmoke; 
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    margin: 0;
    background: white;
    font-weight: 400;
    font-family: Helvetica,sans-serif;
    line-height: 1.67;
}   
header {
    background-color: #444f57; 
}
header::after {
    content: '';
    display: table;
    clear:both;
}
h1 {
    font-size:40px;
    letter-spacing: -2px;
    padding-left: 150px;
    font-family: 'Monserrat','poppins';
    font-weight: 700;
    color: whitesmoke;
    margin:0;
    text-transform: uppercase;
    float: left;
}
nav{
    font-family: 'poppins';
    font-weight: 200;
    font-size: 14px;
    float:right;
}  
nav ul {
    margin: 0;  
    list-style: none;
} 
nav li {
    margin-left: 125px;
    display: inline-block;
    padding-top:25px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}

nav a::before {
    content:'';
    display:block;
    height: 5px;
    width: 100%;
    background-color: whitesmoke;

    position: absolute;
    top:0;
    width:0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width:100%
}

p { 
    height:500px;
    padding-left: 150px;
    display: block;  
    font-size: 18px;
    color: rgb(29, 28, 28);
}
h2 {
    padding-left: 150px;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: rgb(17, 17, 17);
    padding-right:150px;
}
h2:after {
    content:' ';
    display:block;
    height:4px solid rgba(0, 0, 0, .05);;
    width:1000px;
}
p a {
    color: rgb(85, 177, 235);
}
p a:hover{
    color: rgb(85, 177, 235);
    text-decoration: none;
}
p a:visited { 
    color: rgb(85, 177, 235);
    text-decoration: none; 
}
.grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 10px;
    padding-right: 150px;
    padding-left: 150px;
  }
  
  .grid-container > div {
    background-color: rgba(241, 238, 238, 0.877);
    text-align: center;
    height: 300px;
    width: 500px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }
  .grid-container > .projectContent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size:16px;

  }
  .projectTitle {
    font-size:22px;
  }

  .projectDesc {
    font-size:18px;
     }
  .link {
    color: rgb(85, 177, 235);
    font-size:18px;
    }
  link:hover{
    color: rgb(85, 177, 235);
    text-decoration: none;
    }
    link:visited { 
    color: rgb(85, 177, 235);
    text-decoration: none; 
    }
  .hello {
    font-family:'Poppins';
    padding: 150px 0 100px;
    text-align: center;
    font-size: 80px; 
    height:200px;
    }
    .blink_me {
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {  
      50% { opacity: 0; }
    }
    #footer {
        background: #343b40;
        padding-left: 150px;
        color: #fff;
        font-size: 18px;
        clear: both;
        position: relative;
        height: 100px;
        margin-top: -200px;
        }