@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container{
    width: 80%;
    margin: 0 auto;
}
body{
    margin: 0;
    background: white;
    font-weight: 400;
}   
header {
    background-color: #444f57; 
}
header::after {
    content: '';
    display: table;
    clear:both;
}
h1 {
    font-size:50px;
    letter-spacing: 5px;
    padding-left: 50px;
    font-family: 'Monserrat','poppins';
    font-weight: 700;
    color: white;
    margin:0;
    text-transform: uppercase;
}
nav{
    font-family: 'poppins';
    font-weight: 200;
    font-size: 20px;
    float:left;
}  
nav ul {
    margin: 0;  
    list-style: none;
} 
nav li {
    margin-left: 300px;
    display: inline-block;
    padding-top: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}
    